*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
.screen{
    display: flex;
    height: 100vh;
}
.leftside{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftside img{
    max-width: 900px;
    height: auto;
}
.rightside{
    width: 400px;
    background-color: #DDD;
    padding: 50px;
}

.rightside label{
    display: block;
    margin-bottom: 20px;
}

.rightside input{
    border: 1px solid rgb(188, 183, 183);
    border-radius: 7px;
    padding: 8px;
    font-size: 14px;
    width: 100%;
    outline: 0;
}

.error{
    font-size: 13px;
    background-color: rgb(212, 126, 126);
    color: #2f2d2d;
    padding: 4px;
    border-radius: 5px;
    text-align: center;
}